$color-mirage: #0c1013;
$color-cod-gray: #1a1a1a;
$color-chathams-blue: #0f4c75;
$color-boston-blue: #3282b8;
$color-sail-blue: #bbe1fa;
$color-mystic: #dde4e9;
$color-shuttle-gray: #3b3c3c;
$color-white: #ffffff;

body {
  background-color: $color-mirage;
  color: $color-white;
}
